
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." (input)="onSearchChange($event.target)">
        <button class="btn btn-primary" type="button">Button 1</button>

      </div>
    </div>
    <div class="col">
      <div class="input-group justify-content-end">
        <button class="btn btn-primary" type="button">Button 2</button>
        <button class="btn btn-warning" type="button">Button 3</button>
      </div>
    </div>
  </div>
</div>
